name: Follow for Follow
on:
  push:
    branches:
      - main
  schedule:
    - cron: "15 * * * *"
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - run: go run followforfollow.go
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
